<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <BBLK_HairballVomit.reportString>vomiting.</BBLK_HairballVomit.reportString>

  <BBLK_TargetedVomit.reportString>vomiting.</BBLK_TargetedVomit.reportString>

</LanguageData>
